.x-datagrid-cell {
    height: 20px;
    padding: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

x-datagrid {
    height: 100%;
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 100%;
    table {
      width:100%;
    }
}

// pour rappel : https://devel.inativ.fr/dokuwiki/doku.php?id=convention:css : pas de camel case, tous les mots en minuscule séparé par des tirets (-)
.contentWrapper {
    overflow-x: hidden;
    position: relative;

    table {
        overflow-y: auto;
        width: 100%;
        border: 1px solid #e1e1e1;
        table-layout: fixed;
    }
}

// pour rappel : https://devel.inativ.fr/dokuwiki/doku.php?id=convention:css : pas de camel case, tous les mots en minuscule séparé par des tirets (-)
.columnHeaderWrapper {
  background: #fdfdfd;
  .form-input input {
    line-height: normal;
  }
  table {
      table-layout: fixed;
  }

  .overflow-display, .overflow-display * {
    overflow: visible;
  }
  & th {
    padding-bottom: 5px;
  }
}

.x-datagrid-tr:hover {

  .import-action:hover {
    cursor: pointer;
  }
}

.no-border-right {
  border-right: 1px solid transparent;
}

.no-border-left {
  border-left: 1px solid transparent;
}

.no-border-bottom {
  border-bottom: 1px solid transparent;
}

.no-border-top {
  border-top: 1px solid transparent;
}

.overflow-display{
  overflow: visible;
}